@media (max-width: 1024px){
    .section-3{
        h2 {
            font-size: 25px;
            top:125%;
        }
        .h2-cuidado-personal {
            top: 115%;
        }
        .h3{
            top: 61%;
            left: 32%;
            font-size: 28px;
        }
    }
    .section-4 {
        width: auto;
    }
}