$colores-sitio:(
    principal: rgb(153, 115, 80),
    principal-deg: rgba(153, 115, 80, 0.5),
    button-nav: rgb(228, 212, 187),
    button-hover: rgb(88, 86, 86),
    border: rgba(0, 0, 0, 0.5),
    box-shadow: rgba(0, 0, 0, 0.1),
);

