@mixin flex($direction, $gap, $justify, $align, $text-align, $position){
    display: flex ;
    flex-direction: $direction;
    gap: $gap;
    justify-content: $justify;
    align-items: $align;
    text-align: $text-align;
    position: $position;
}

@mixin box-model($width, $height, $padding, $margin){
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
}

@mixin grid($gap, $templ-col, $templ-row){
    display: grid ;
    gap: $gap;
    grid-template-columns: $templ-col;
    grid-template-rows: $templ-row;
}
@mixin img($width, $height, $object) {
    width: $width;
    height: $height;
    object-fit: $object;
}

@mixin grid-area($col, $row, $order, $align){
    grid-column: $col;
    grid-row: $row;
    order: $order;
    align-self: $align;
}