footer {
    background-color: map-get($colores-sitio, principal );
    border: 5px solid white;
    border-radius: 0 0 30px 30px;
    color: white;
    display: flex;
    font-family: $fuente-principal;
    padding: 10px;
    width: 100%;
    div{
        width: 100%;
    }
    a{
        text-decoration: none;
        color: white;
    }
    img{
        width: 70%;
    }
    .informacion {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .recursos {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .contacto {
        display: flex;
        flex-direction: column;
        width: 100%;
        div{
            display: flex;
            margin-top: 15px;
            img{
                width: 35%;
            }
        }
    }
}