footer {
    background-color: map-get($colores-sitio, principal );
    color: white;
    display: flex;
    font-family: $fuente-principal;
    padding: 10px;
    width: 100%;
    div{
        width: 100%;
    }
    a{
        text-decoration: none;
        color: white;
    }
    img{
        width: 200px;
    }
    .informacion {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
    .recursos {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
    .contacto {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        div{
            display: flex;
            gap: 10px;
            a {
                img {
                    width: 50px;
                };
            }
        }
    }
}