nav {
    display: flex;
    font-family: $fuente-principal;
    height: 100%;
    justify-content: space-around;
    width: 80%;
    ul {
        align-items: center;
        display: flex;
        font-size: 1rem;
        gap: 20px;
        height: 100%;
        justify-content: space-around;
        list-style: none;
        width: 70%;
        a {
            color: white;
            text-decoration: none;
            width: 100%; 
        }
        .ingresar{
            align-items: center;
            background-color: map-get($colores-sitio, button-nav );
            border-radius: 5px;
            display: flex;
            height: 55%;
            justify-content: center;
            text-align: center;
            width: 15%;
            img{
                margin-right: 7px; 
            }
        }
        .registrarse{
            @extend .ingresar;
            border: 1px solid white;
            background-color: map-get($colores-sitio, principal)
        }
    }
}