@media(max-width: 600px){
    footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        div {
            width: 67%;
            align-content: center;
            align-self: center;
        }
        .contacto{
            div{
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}