@media (max-width: 375px){
    .section-1{
        .div-1 {
            margin-top: 0;
        } 
        .div-3{
            margin-left: 35px;
        }
    }
    .section-2{
        .boton-catalogo{
            a {
                width: 68%;
                }
        } 
    }
    .section-3{
        .contain-banner-2{
            h3{
                font-size: 16px;
                top: 76%;
                left: 25%;
            }
        }
        .contain-terapias{
             h2{
                 left: 16%;
                 top: 177%;  
                }
        }
        .contain-recursos{
            h2{
                left: 10%;
                top: 175%;
            }
        }
        .contain-reiki{
            h2{
                left: 31%;
                top: 175%;
            }
        }
        .contain-esoterismo{
            h2{
                left: 4%;
                top: 175%;
            }
        }
        .contain-cuidado-personal{
            h2{
                left: 13%;
                top: 165%;
            }
        }
        .contain-talleres{
            h2{
                left: 20%;
                top: 175%;
            }
        }
    }
    .section-4 {
        flex-direction: column;
        align-items: center;
        .contain-envios { 
            border: none;
        }
        .contain-seguridad {
            border: none;
        }
    }
}