.main-contacto {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/imagenes/fondo-login.jpg);
    align-items: center;
    h2, p {
        text-align: center;
    }
    form {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: $fuente-principal;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px map-get($colores-sitio, box-shadow );
        padding: 20px;
        width: 300px;
        margin-bottom: 10px;
        input {
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 10px 0;
            padding: 10px;
            width: 100%;
        }
        button {
            background-color: map-get($colores-sitio, principal );
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            :hover {
                background-color: map-get($colores-sitio, button-hover );
            }
            
        }
    }
    
}