@media(max-width: 768px){
    footer{
        img{
            width: 170px;
        }
    }
    .contacto{
        a{
            img{
                width: 35px; 
            } 
        }
        div {
            flex-direction: column;
        }
    }
}