@media(max-width: 768px){
    .logo {
        width: 32%;
    }
    .ingresar{
        a {
            margin-left: 5px;
        }
    }
    .registrarse {
        a {
            padding: 5px;
        }
    }
}