@media(max-width: 768px){
    .section-1{
        .div-2{
            img {
                margin-top: 41px;
                height: 68%;
            }
        }
    }
    .section-2{
        .boton-catalogo{
            img {
                display: none;
            }
            a {
                width: 56%;
            }
        }
    }
    .section-3{
        .h3-banner-2{
            top: 66%;
            left: 28%;
            font-size: 26px;
        }
        .h2-cuidado-personal {
            font-size: 20px;
            left: 19%;
            top: 125%;
        }
        .h2-terapias {
            font-size: 20px;
            left: 20%;
            top: 138%;
        }
        .h2-recursos {
            font-size: 20px;
            left: 22%;
            top: 138%
        }
        .h2-reiki {
            font-size: 20px;
            left: 22%;
            top: 138%
        }
        .h2-esoterismo {
            font-size: 20px;
            left: 15%;
            top: 137%;
        }
        .h2-talleres {
            font-size: 20px;
            left: 23%;
            top: 137%;
        }
    }
}