@media(max-width: 768px){
    .section-1{
        .div-2{
            img {
                margin-top: 41px;
                height: 68%;
            }
        }
    }
    .section-2{
        .boton-catalogo{
            img {
                display: none;
            }
            a {
                width: 56%;
            }
        }
    }
    .section-3{
        .contain-banner-2{
            h3{
                top: 57%;
                left: 25%;
            }
        }
        .contain-terapias{
            h2{
                font-size: 25px;
                left: 16%;
                top: 135%;
            }
        }
        .contain-recursos{
            h2{
                font-size: 25px;
                left: 16%;
                top: 135%;;
            }
        }
        .contain-reiki{
            h2{
                font-size: 25px;
                left: 16%;
                top: 135%;
            }
        }
        .contain-esoterismo{
            h2{
                font-size: 25px;
                left: 16%;
                top: 135%;
            }
        }
        .contain-cuidado-personal{
            h2{
                font-size: 25px;
                left: 16%;
                top: 120%;;
            }
        }
        .contain-talleres{
            h2{
                font-size: 25px;
                left: 16%;
                top: 135%;
            }
        }

    }
}