.main-nosotros {
    background-color: #f4f4f4;
    font-family: $fuente-principal;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    div {
        margin: auto;
        overflow: hidden;
        width: 80%;
        section {
            background: #fff;
            margin-top: 10px;
            padding: 20px;
            h2 {
                color: #333;
            }
            p {
                color: #666;
                font-size: 18px;
            }
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    font-size: 18px;
                    padding: 5px 0;
                }
            }
        }
    }
}